<div class="wrapper-page">
  <div class="panelAccount">
    <h2><strong>Primeiro crie sua conta ;)</strong></h2>
    <p>Caso já tenha cadastro, preencha seu email e senha e clique em "Já sou cadastrado"</p>
    <form>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email" placeholder="Email" ng-model="user.email">
      </div>
      <div class="form-group">
        <label for="senha">Senha</label>
        <input type="password" class="form-control" id="senha" placeholder="Password" ng-model="user.senha">
      </div>

      <button type="button" class="btn btn-default" ng-click="criarConta()">Criar</button>
      <button type="button" class="btn btn-default" ng-click="login()">Já sou cadastrado</button>
    </form>
  </div>
</div>